html {
    text-align: center;
}

.profile {
    display: flex;
    
}

.page {
    flex:1;
    border: 8px solid grey;
    align-items: center;
    border-radius: 10px;
}

img {
   width: 100%;
   height: auto;
   margin-top: auto;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    color: orange;
}

h4 {
    margin-top: 0;
    font-size:2rem;
}

ul {
    text-align: start;
    padding-left: 15px;
    padding-right: 5px;
    margin: auto;
    list-style: None;
}

li {
    margin: 15px 0;
    font-size: 1.5rem;
}

.intro {
    font-family: 'Caveat', cursive;
}

.plans > * {
    margin-bottom: 35px;
    font-size: 1.5rem;
}

.four li {
    margin-top: 30px;
}

.contact {
    font-size: 1.5rem;
}

.info {
    columns: 2;
    column-gap:0;
}

footer {
    margin-top: 0;
    font-size: 2rem;
}

@media (min-width: 481px) {
    .profile {
        justify-content: space-evenly;
        gap: 2%;
    }
  }

@media (max-width: 480px) {
    .profile {
    flex-direction: column;
             }

    .page {
        margin-bottom: 5%;
    }
  }



