html {
    text-align: center;
    height: 100vh;
}

.profile {
    display: flex;
    align-items: stretch;
}

.profile > * {
    flex: 1;
    border: 8px solid grey;
}

.page {
    display:flex; 
    flex-direction:column; 
    flex:1;
    align-items: center;
    border-radius: 10px;
}

img {
   width: 100%;
   height: auto;
   margin-top: auto;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    color: orange;
}

h4 {
    margin-top: 0;
}

ul {
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    list-style: None;
}

li {
    margin: 10px 0;
    font-size: 2rem;
}

.intro {
    font-family: 'Caveat', cursive;
}

.plans > * {
    margin-bottom: 50px;
    font-size: 2rem;
}

@media (min-width: 481px) {
    .profile {
        justify-content: space-evenly;
        gap: 2%;
    }
  }

  @media (max-width: 480px) {
    .profile {
        flex-direction: column;
    }

    .page {
        margin-bottom: 5%;
    }
  }



