html {
    text-align: center;
}

.profile {
    display: flex;
    gap: 1rem;
}

.page {
    flex:1;
    border: 8px solid grey;
    align-items: center;
    border-radius: 10px;
    max-width: 500px;
}

img {
   width: 100%;
   height: auto;
   flex: None;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: orange;
}

h4 {
    margin-top: 0;
    font-size:25px;
}

ul {
    text-align: start;
    padding-left: 15px;
    padding-right: 5px;
    margin: auto;
    list-style: None;
}

li {
    margin: 15px 0;
}

.intro {
    font-family: 'Caveat', cursive;
    font-size: 35px;
}

.plans > * {
    margin-bottom: 32px;
}

.four li {
    margin-top: 30px;
}

.contact {
    font-size: 22px;
}

footer {
    margin-top: 0;
    font-size: 30px;
}

@media (min-width: 481px) {
    .profile {
        justify-content: space-evenly;

    }
  }

@media (max-width: 480px) {
    .profile {
    flex-direction: column;
             }
  }



